# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build

# Misc
.DS_Store
*.pem

# Ops
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
